@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'HussarBold';
    src: url(../fontes/HussarBold.otf) format('opentype');
}

@font-face {
    font-family: 'Gliker';
    src: url(../fontes/gliker.ttf) format('truetype');
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f3ee;
    position: relative;
}

.titulo-2 {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 15px;
}

.titulo-2 h2 {
    font-family: 'Gliker', serif;
    font-size: 2.4em;
    font-weight: normal;
}

.titulo-2 h3 {
    font-size: 1.25em;
}

.subtitulo {
    margin-bottom: 15px;
    font-size: 1.4em;
}

.lista {
    list-style: inside;
}

/*---------------section 1----------------*/

.sec-1 {
    padding: 30px 100px;
}

.titulo-1 {
    margin-bottom: 50px;
}

.sec-1 h1 {
    color: #15644c;
    font-family: 'HussarBold', sans-serif;
    letter-spacing: 4px;
}

#menor {
    font-size: 3em;
}

#maior {
    font-size: 5em;
    letter-spacing: 5px;
}

.sec-1 .titulo-2 h2,
.sec-1 .titulo-2 h3 {
    color: #15644c;
}

.sec-1 p {
    color: #73472c;
    font-size: 17px;
    width: 575px;
}

#p2 {
    text-align: right;
    margin: auto;
}

#tales-img {
    width: 550px;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

/*----------------------section 2------------------------*/

.sec-2 {
    position: relative;
    padding: 40px 100px;
    background-color: #15644c;
    color: #f6f3ee;
}

.sec-2 .titulo-2 {
    margin-top: 30px;
}

.sec-2 .titulo-2 h2,
.sec-2 h3 {
    color: #eec9e2;
}

.p-tales {
    width: 800px;
}

.pitagoras-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    background-color: #15644c;
}

.pitagoras-content {
    margin-left: 30%;
}

.pitagoras-content p {
    width: 726px;
}

.contribuicoes {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.contribuicoes p {
    width: 600px;
}

.sec-2 ul {
    list-style: inside;
}

#teorema-tales-img {
    position: absolute;
    right: 0;
    width: 400px;
}

#pitagoras2-img {
    height: 500px;
    width: 350px;
    position: absolute;
    left: 0;
}

#teorema-pitagoras-img {
    width: 160px;
    border-radius: 20px;
}

/*----------------------------Euclides------------------------*/
.euclides-section {
    margin-top: 90px;
    width: 100%;
}

.euclides-section p {
    width: 600px;
    line-height: 1.6;
}

/*----------------------section 3------------------------*/
.sec-3 {
    padding: 40px 100px;
    position: relative;
}

.sec-3 .subtitulo {
    color: #15644c;
}

.sec-3 ul {
    list-style: inside;
    color: #15644c;
}

#euclides-img {
    position: absolute;
    width: 500px;
    right: 0;
    top: -310px;
}

/*-------Arquimedes-------*/

.arquimedes-section {
    margin-top: 70px;
    color: #15644c;
}

.arquimedes-section .titulo-2 {
    text-align: center;
}

.arquimedes-section p {
    width: 600px;
    line-height: 1.6;
}

.arquimedes-content {
    margin-left: 40%;
}

#arquimedes-img {
    width: 420px;
    position: absolute;
    left: 0;
    top: 210px;
}

/*-------------pierre----------------*/
.pierre-section {
    margin-top: 70px;
    color: #15644c;
}

.pierre-section p {
    width: 700px;
    line-height: 1.6;
}

blockquote{
    border-left: 4px solid #15644c;
    border-radius: 5px;
    padding-left: 15px;
}

#pierre-img {
    width: 400px;
    position: absolute;
    right: 0;
    top: 750px;
}

.cards-contribuicao {
    color: #fff;
    background-color: #15644c;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    width: 200px;
    text-align: center;
}

.contribuicoes {
    display: flex;
    margin: 0;
}

.pierre-section .subtitulo {
    margin-top: 25px;
}

/*----------------Gauss------------------*/
.sec-4 {
    padding: 40px 100px;
    position: relative;
    background-color: #15644c;
    color: #fff;
}

.sec-4 .titulo-2 {
    color: #eec9e2;
}

.sec-4 p {
    width: 700px;
    line-height: 1.6;
}

.gauss-content{
    margin-left: 35%;
}

#gauss-img {
    width: 380px;
    position: absolute;
    left: 0;
    top: 10px;
}

.gauss-content-2 {
    margin-top: 80px;
    margin-left: 10%;
}

.sec-4 .subtitulo {
    color: #eec9e2;
}

#curva-gauss-img{
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

/*-----------rene-----------*/
.sec-5{
    padding: 50px 130px;
    position: relative;
    color: #15644c;
}

.sec-5 p {
    width: 650px;
    line-height: 1.6;
}

#rene-img {
    width: 500px;
    position: absolute;
    right: 0;
    top: 0;
}

.rene-2 {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

#plano-cart-img {
    width: 250px;
}