@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'HussarBold';
    src: url(/fontes/HussarBold.otf) format('opentype');
}

@font-face {
    font-family: 'Gliker';
    src: url(/fontes/gliker.ttf) format('truetype');
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f3ee;
}


#img-egito {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.516);
}

/*---------------------section 1-------------------------*/

.sec-1 {
    padding: 20px 100px 50px 100px;
    position: relative;
}

.titulo-1 {
    font-family: 'HussarBold', sans-serif;
    color: #15644c;
    font-size: 5.5em;
    letter-spacing: 5px;
}

.sec-1 p {
    color: #73472c;
    font-size: 17px;
    width: 720px;
}

#p1 {
    margin-bottom: 50px;
}

#desc {
    padding-left: 30px;
}

#fonte {
    font-size: 14px;
    color: #cec2ae;
}

#pitagoras-img {
    width: 520px;
    position: absolute;
    right: 0;
    top: 40px;
}

/*---------------------section 2-------------------------*/

.sec-2 {
    background-color: #15644c;
    color: #f6f3ee;
    padding: 100px 100px 40px 100px;
}

.titulo-2 {
    font-family: 'HussarBold', sans-serif;
    font-size: 4em;
    color: #eec9e2;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.sec-2 h2 {
    color: #eec9e2;
    font-size: 1.3em;
}

/*---------------------section 3-------------------------*/

.sec-3 {
    padding: 80px 100px;
    background-color: #eec9e2;
    position: relative;
}

.titulo-3 {
    font-family: 'HussarBold', sans-serif;
    font-size: 4em;
    color: #15644c;
    line-height: 1.1em;
    letter-spacing: 3px;
}

.sec-3 h2 {
    font-size: 18px;
}

span {
    font-size: 0.7em;
}

article.cards {
    display: flex;
    margin: 30px 0px 50px 0px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: #15644c;
    color: #f6f3ee;
    border-radius: 20px;
    height: 320px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card h2 {
    font-weight: normal;
    font-size: 18px;
}

.p3 {
    color: #15644c;
    width: 600px;
    margin-bottom: 40px;
    font-size: 17px;
}

.p3 h2 {
    font-size: 18px;
}

#geo-dif-img {
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.lados {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

ul.lista {
    list-style: inside;
}

.img-geometrias {
    width: 100px;
    filter: invert(100%);
    margin: 10px auto;
}

#espacial {
    height: 90px;
    width: auto;
}

#img-grecia {
    height: 640px;
    border-radius: 20px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.516);
}

/*--------------cards--------------*/
.flip,
.flip-grecia {
    position: relative;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.516);
    border-radius: 10px;
    cursor: pointer;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;

    >.front,
    >.back {
        display: block;
        color: #15644c;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #eec9e2;
        border-radius: 10px;

        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: #15644c;
        }
    }
}

.flip-grecia {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 450px;
    height: 620px;

    >.front,
    >.back {
        display: block;
        color: #15644c;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 620px;
        padding: 1em 2em;
        background: #eec9e2;
        border-radius: 10px;

        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: #15644c;
        }
    }
}

